@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  @apply w-full max-w-[1120px] mx-auto px-4 md:px-6;
}

.custom-buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
  margin: 0 auto;
  background: linear-gradient(135deg, #1ad9df, #a824fe);
  overflow: hidden;
  border-radius: 30px;
  color: white;
  border: 2px solid white;
}
.custom-buttom:hover {
  border-width: 2px;
  color: black;
  border: 2px double transparent;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.outline-btn{
  border-width: 2px;
  color: black;
  border: 2px double transparent;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 30px;
}

.about-cover-banner {
  position: relative;
  width: 1440px;
  height: 399px;
  margin: 0 auto;
  background: url("") no-repeat center;
  background-size: cover;
  backdrop-filter: blur(25px);
}

.leverage-expertise {
  background: linear-gradient(135deg, #1ad9df, #a824fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradiant-dot {
  background: linear-gradient(135deg, #1ad9df, #a824fe);
}

.heading-text {
  @apply text-[40px] md:text-[60px] leading-[50px] md:leading-[80px] font-bold;
}
.heading2-text {
  @apply text-[30px] md:text-[40px] leading-[50px] md:leading-[60px] font-medium;
}

.normal-text {
  @apply text-lg font-normal text-textLight-100;
}
.md-text {
  @apply md:text-[48px]  font-semibold md:leading-[65px] text-3xl;
}

.gradient-text {
  display: block;
  position: relative;

  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  background: linear-gradient(135deg, #1ad9df, #a824fe);
  z-index: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leader-card-gradiant {
  background: linear-gradient(135deg, #c0ebf3, #e4cff3);
  // border: 10px solid;
  // border-image: linear-gradient(45deg, #1ad9df, #a824fe) 1;
}
.gradiant-bg{
  background: linear-gradient(135deg, #1ad9df, #a824fe);
}
.card-shadow {
  background: #ffffff;
  border: 1px solid #0f172a;
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 #0f172a;
}

.customInput {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 36px;
  max-width: 551px;
  width: 100%;
  height: 58px;
  padding-left: 35px;
  outline: none;
}
.customInput::placeholder {
  color: black;
  opacity: 1; /* Firefox */
  font-size: 18px;
  font-weight: 400;
}
.dark-btn {
  border-radius: 36px;
}

.input-with-placeholder {
  width: 100%;
  position: relative;
  label {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0px;
    transition: 300ms all;
    font-size: 24px;
    outline: none;
  }
  input {
    width: 100%;
    height: 40px;
    padding: 0px;
    background: white;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    &:valid + label,
    &:focus + label {
      height: 80%;
      padding-left: 0;
      transform: translateY(-100%);
      font-size: 24px;
      color: black;
      outline: none;
      outline: none;
    }
  }
}

.gradiant-text-2 {
  background: linear-gradient(135deg, #1ad9df, #a824fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.choose-us {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  background: linear-gradient(135deg, #1ad9df, #a824fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-banner-text {
  font-weight: 600 !important;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animation {
  animation: slideIn 0.5s ease forwards;
}


#toggle-btn{
    width: 2rem !important;
    height: 2rem !important;
}

.image-container {
  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}